/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oxygen:wght@300&display=swap');

/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Noto Serif', serif;
    text-align: center;
    background: #f1c1bd;
}